<% layout('layouts/boilerplate.ejs') %>

<div class="container mt-5">
  <h2 class="mb-4 text-danger fw-bold">Add New Movie</h2>

  <form action="/movies" method="POST" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        id="title"
        name="title"
        class="form-control"
        value=""
        required
      />
    </div>

    <div class="mb-3">
      <label for="year" class="form-label">Year</label>
      <input
        type="number"
        id="year"
        name="year"
        class="form-control"
        value=""
      />
    </div>

    <div class="mb-3">
      <label for="genre" class="form-label">Genre</label>
      <input
        type="text"
        id="genre"
        name="genre"
        class="form-control"
        value=""
      />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        id="description"
        name="description"
        rows="4"
        class="form-control"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="thumbnailUrl" class="form-label">Thumbnail URL</label>
      <input
        type="text"
        id="thumbnailUrl"
        name="thumbnailUrl"
        class="form-control"
        value=""
      />
    </div>

    <div class="mb-3">
      <label for="videoUrl" class="form-label">Video URL</label>
      <input
        type="text"
        id="videoUrl"
        name="videoUrl"
        class="form-control"
        value=""
      />
    </div>

    <button class="btn btn-danger mt-3">Add Movie</button>
  </form>
</div>
