<% layout('layouts/boilerplate.ejs') %>

<div class="d-flex flex-column justify-content-center align-items-center vh-100 text-center bg-dark text-white">
  <h1 class="display-3 mb-4">Welcome to NetMovie</h1>
  <p class="lead mb-4">Stream your favorite movies anytime, anywhere.</p>
  <a href="/signup" class="btn btn-danger btn-lg px-5">Get Started</a>
</div>
